#hedha{
    color :red
}
#hedha2{
    color: aqua
}
.abc:hover{
    color: blueviolet
}






.abc{
    /*background-color: blue;*/
    color: blue;
    border: 2px solid black;
    padding: 5px;
    margin: 10px
    
}

.hakika{
    background-image: url("../res/Untitled-4.png");

}
body{
    

    background-image: url("../res/6156868-game-images.jpg");
   /* background-image: url("../res/Untitled-4.png" width="100%" );*/
   

}